<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="dimensionData">
      <sectionGroup name="test">
        <section name="vault" type="DimensionData.Toolset.Vault.Configuration.VaultConfigurationSection, DimensionData.Toolset.Vault" />
        <section name="authentication" type="DimensionData.Toolset.WebApi.Security.Configuration.JwtConfigurationSection, DimensionData.Toolset.WebApi" />
        <sectionGroup name="authorization">
          <section name="caching" type="DimensionData.Common.Authorization.Configuration.CachingActivityAuthorizerDecoratorConfigurationSection, DimensionData.Common.Authorization" />
        </sectionGroup>
        <section name="logging" type="DimensionData.Toolset.SerilogLogger.Configuration.FileSinkConfigurationSection, DimensionData.Toolset.SerilogLogger" />
        <section name="database" type="DimensionData.Toolset.Configuration.Sections.ConnectionStringSection, DimensionData.Toolset" />
      </sectionGroup>
    </sectionGroup>

  </configSections>
  <dimensionData>
    <test>
      <vault token="6834b809-5974-3d67-1c33-80daf8bb19d7" />
      <authentication>
        <allowedAudiences>
          <add audienceUri="https://cloud.dimensiondata.com/portal/v1" />
        </allowedAudiences>
        <trustedIssuers>
          <add name="CN=Aperture Development STS" type="LocalCertificate" value="94be0e23a9ecaa0b48bf853d6e1f332204f4c600" />
        </trustedIssuers>
      </authentication>
      <database connectionString="Data Source=.;Initial Catalog=TestMicroService;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
      <logging directory="c:\Logs" level="Information" />
    </test>
  </dimensionData>
  <appSettings>
    <add key="DocumentDbEndpoint" value="https://dd-documents.documents.azure.com:443/" />
    <add key="DocumentDbKey" value="hurYItGPm0kt22JrYIOPVNDRogikpve6jWhFRalUnrhEvopQBt1WNWjN03fnzJgMk6N4G4PGrJ5aGVvAzF1ekw==" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.4.0" newVersion="3.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector.Extensions.ExecutionContextScoping" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.4.0" newVersion="3.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DimensionData.Toolset" publicKeyToken="8da8e811564dd15e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector.Integration.WebApi" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>